.timeline-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
}

#map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1;
  display: block !important;
}

.timeline-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to right, rgb(0 0 0 / 90%) 0%, rgb(0 0 0 / 0%) 100%);
  padding: 40px;
  pointer-events: none;
}
