.mawaqit-fullscreen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

.mawaqit-fullscreen-iframe {
  width: 100vw;
  height: 100vh;
  border: none;
  transform-origin: center center;
}
